@import '../../../assets/styles/mixins.scss';


select {
    position: relative;
    cursor: pointer;
    width: 100%;
    outline: #898989 rem(1.5) solid;
    border-radius: rem(2);
    padding-left: rem(15);
    padding-right: rem(15);
    height: rem(50);
    color: #000;
    font-weight: 500;
    font-family: $ff;
    @include adaptiv-value(font-size, 16, 14, 1);
    line-height: 1.25;
    @include transition(all, 0.4s, ease, 0s);
    @include adaptiv-value(margin-bottom, 60, 30, 1);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../../../assets/icons/strSmall.svg');
    background-repeat: no-repeat;
    background-position: 97% center;

    &:focus {
      outline: #898989 rem(1.5) solid;
    }
  }