@import '../../../assets/styles/mixins.scss';

.slider {
  width: 100%;
  flex: 0 1 prc(664, 1110);
  max-width: rem(664);
  cursor: grab;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  padding-bottom: 61.1%;
  margin-bottom: rem(10);
  max-height: 74%;
}
