@import '../../../assets/styles/mixins.scss';

.preview {
  &__container {
    display: inherit;
  }

  &__body {
    display: inherit;
  }

  &__title {
    margin-bottom: rem(30);
  }

  &__text {
    display: flex;
    flex-direction: column;
    @include adaptiv-value(gap, 10, 5, 1);
    @include adaptiv-value(font-size, 20, 16, 1);
    @include adaptiv-value(margin-bottom, 80, 50, 1);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(165px, 335px));
    @include adaptiv-value(gap, 53, 20, 1);
    @media (max-width: em(768)) {
      grid-template-columns: repeat(2, minmax(165px, 335px));
    }
  }
}